body {
  color: #c5c3c7;
}

aside,
#main,
#settings {
  background: #272343;
}

.fas {
  color: #c5c3c7;
}

button {
  background: #348aa7;
  box-shadow: 0 5px 0 #348aa7;
  border-bottom: 2px solid #30809b;
  color: white;
}

button:hover {
  background: #2e7a94;
  box-shadow: 0 4px 1px solid #2e7a94;
  border-bottom: 2px solid #2a7088;
  cursor: pointer;
}

.disabled {
  background: #5b5656;
  border-bottom: 2px solid #3f3d3d;
  box-shadow: 0 5px 0 #3f3d3d;
}

.disabled:hover {
  background: #5b5656;
  border-bottom: 2px solid #3f3d3d;
  cursor: auto;
}

a,
a:active a:visited {
  color: #c5c3c7;
}
