* {
  margin: 0;
  padding: 0;
}

aside {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 60px;
  font-size: 40px;
  position: fixed;
  left: 0;
}

#settings-button {
  padding-bottom: 10px;
}

#settings-button:hover {
  cursor: pointer;
}

#main {
  float: right;
  width: calc(100% - 60px);
}

/** todo have a look later regarding responsiveness of containers */
@media (min-width: 1600px) {
  #main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

.container {
  width: 95%;
  margin: 20px auto;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
}

.container-outer {
  height: 100%;
}

.container-headline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-headline > * {
  margin: 0 5px;
}

.container-inner {
  display: flex;
  flex-direction: row;
}

.block {
  margin: 10px;
}

.canvas-container {
  position: relative;
  min-height: 400px;
  width: 100%;
}
