* {
  margin: 0;
  padding: 0;
}

aside {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 60px;
  font-size: 40px;
  position: fixed;
  left: 0;
}

#settings-button {
  padding-bottom: 10px;
}

#settings-button:hover {
  cursor: pointer;
}

#main {
  float: right;
  width: calc(100% - 60px);
}

/** todo have a look later regarding responsiveness of containers */
@media (min-width: 1600px) {
  #main {
    display: gird;
    grid-template-rows: 33%;
    grid-template-columns: 45% 45%;
  }
}

.dummy {
  width: 100px;
  height: 100px;
  background: yellow;
}

.container {
  height: 300px;
  width: 95%;
  margin: 20px auto;
  border-radius: 25px;
  border: 1px solid black;
}
